@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --mainFz: 16px;
    --mainColor: #73a4d2;
    --colorSuccess: #b1ecbb;
    --colorDelete: #ecb1b1;
    --mainSecondColor: white;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body,
html {
    height: 100vh;
}

body,
#app {
    width: 100%;
    height: 100%;
}
#app {
    position: relative;
    display: flex;
    flex-direction: column;
}
body {
    background: var(--mainColor);
    font-family: "Montserrat", system-ui;
    font-size: var(--mainFz);
    color: var(--mainColor);
}
h1,
h2 {
    text-align: center;
    color: var(--mainColor);
}
h1 {
    font-weight: bold;

    animation: pingText 5s linear infinite alternate-reverse;
}
.btn {
    background: var(--mainColor);
    color: var(--mainSecondColor);
    transition: 0.3s all ease;
}

.btn:hover:not(.btn--delete, .btn--success),
.btn:active:not(.btn--delete, .btn--success),
.btn:focus:not(.btn--delete, .btn--success) {
    opacity: 1;
    background: var(--mainColor) !important;
    color: var(--mainSecondColor) !important;
}
.btn:hover {
    opacity: 0.9;
}
.btn--success {
    color: var(--mainColor) !important;
    background: var(--colorSuccess) !important;
}
.btn--delete {
    color: var(--mainColor) !important;
    background: var(--colorDelete) !important;
}
@keyframes pingText {
    from {
        -webkit-text-stroke: 0.0625rem var(--mainColor);
    }
    to {
        -webkit-text-stroke: 0.0625rem var(--mainSecondColor);
    }
}
